<!-- partial view -->



<div id="content">
    <div class="container txt-lefty">
        <div class="row-fluid">
            <div class="span9">
                <div class="entry" ng-repeat="post in posts ">
                    <a href="single.html">
                        <h2>{{post.title}}</h2>
                    </a>
                    <small><em>Posted December 28, 2012</em></small>
                    <hr>
                    <div class="row-fluid">
                        <div class="span5">
                            <a href="#/blogPage/{{post.id}}">
                                <img alt="image" class="img-polaroid" max-width="600px" max-height="300px" src="http://quickimage.it/1200x400">
                            </a>
                        </div>
                        <div class="span7">
                            <div ng-bind-html-unsafe="post.content"></div>
                          
                           <a href="#/blogPage/{{post.id}}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="span3">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Newest Posts</a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" alt="image" src="http://quickimage.it/64x64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Post Title</h4>
                                        <ul class="unstyled">
                                            <li><small>Jan 3, 2013</small></li>
                                            <li><small>EvanC93</small></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Popular Posts</a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul class="unstyled">
                                    <li><a href="#">Post Title</a></li>
                                    <li><a href="#">Another Post</a></li>
                                    <li><a href="#">Another Post</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <h3>Text Widget</h3>
                <hr class="halfed">
                <p>Vivamus rutrum lorem vel puruscondimentum scelerisque. Vivamus viverra risus eu nibh tesque. Proin sed ipsum ipsum, sed placerat eros.</p>
                
            </div>
        </div>
    </div>
</div>
