<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Atlas</title>
     
        <!-- Styles Includes -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        
        <link href="~/Content/jquery.parallax.css" rel="stylesheet" />
    </head>

<body >

    <!-- Navigation -->
    <div class="navbar navbar-fixed-top" bs-navbar>
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#/home">Atlas</a>
                <ul class="nav">
                    <li data-match-route="/home"><a href="#/home">Home</a></li>
                    <li data-match-route="/blog"><a href="#/blog">Blog</a></li>
                    <li data-match-route="/about"><a href="#/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>

   <!-- Content -->
   <div class="container-fluid" id="main">
        <div class="row-fluid">
		    <!-- pages -->
            <ng-view></ng-view>
        </div>
    </div>
   <script src="~/Scripts/require.js" data-main="App/js/main"></script>
</body>
</html>
